* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 70%;
    margin: 0 auto;
    background: white;
    border-radius: 3px;
}

/* Add padding to containers */
.container {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 12px;
}

/* Full-width input fields */
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.sign {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.customButton {
    background-color: #03dffc;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

input.submit-button {
    background-color: #03dffc;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    opacity: 0.9;
}

input.input-comment {
    margin-left: 3%;
    margin-right: 2%;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.hyperlink:hover, .customButton:hover {
    background-color: #02c9e3;
}

.hyperlink {
    background-color: #03dffc;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

.hyperlink a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
}

.hyperlink.first {
    margin-bottom: 0.99rem;
}

#current-user-info {
    margin: 4px 0;
}

ul {
    list-style: none;
}

.custom-select {

}

.position {
    position: relative;
    top: 25px;
}

hr.separate-line {
    border: 1px solid red;
    margin-top: 3%;
    margin-bottom: 3%;
}

.file-container {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(142, 138, 142, 0.33);
    box-shadow: 5px 5px 10px rgba(0, 0, 255, 0.11);
    background-color: snow;
    padding: 3%;
    margin-bottom: 2%;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 12px;
}
