* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 70%;
    margin: 0 auto;
    background: white;
    border-radius: 3px;
}

/* Add padding to containers */
.container {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 12px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.customButton {
    background-color: #03dffc;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.hyperlink:hover, .customButton:hover {
    background-color: #02c9e3;
}

.hyperlink {
    background-color: #03dffc;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

.hyperlink a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
}

.hyperlink.first {
    margin-bottom: 0.99rem;
}

#current-user-info {
    margin: 4px 0;
}

ul {
    list-style: none;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 12px;
}
