<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div id="main">
    <div th:replace="fragments/current_user"></div>
    <form method="POST" enctype="multipart/form-data" action="./decrypt">
        <input id="file-to-decrypt" type="file" name="file-to-decrypt"  checked>File to decrypt<br>
        <input id="upload-secret" type="file" name="upload-secret">Secret key<br>
        <input class="customButton" type="submit" value="Decrypt file"/>
    </form>

    <div th:replace="fragments/nav_buttons"></div>
</div>
</body>
</html>