<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        body {
            background: #e6ffe6;
        }

        #main {
            width: 1200px;
            margin: 0 auto;
            background: white;
            border-radius: 3px;
        }
    </style>
</head>
<body>

<div id="main">
    <form method="POST" enctype="multipart/form-data" action="/decrypt">
        <input id="file-to-decrypt" type="file" name="file-to-decrypt"  checked>File to decrypt<br>
        <input id="upload-secret" type="file" name="upload-secret">Secret key<br>
        <input type="submit" value="Decrypt file"/>
    </form>
</div>
</body>
</html>