<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div th:if="${secretKey}">
    <p>Linka na stiahnutie zasifrovaneho suboru:</p><br>
    <a th:href="${encryptedFileLink}">Stiahnut</a><br>
    <p> Toto je secret key, starostlivo ulozit, bude potrebny pre desifrovanie!</p><br>
    <p th:text="${secretKey}"/><br>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="./encrypt">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

<div>
    <ul>
        <li th:each="secretKey : ${secretKeyFiles}">
            <a th:href="${secretKeyFile}" th:text="${secretKeyFile}" />
        </li>
    </ul>
</div>
<a href="../">Homepage</a>
</body>
</html>