<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div id="main">
    <div th:replace="fragments/current_user"></div>
    <p>Choose a file you wish to encrypt:</p>

    <form method="POST" enctype="multipart/form-data" action="./encrypt">
        <input id="file-upload" name="file" type="file"/>
        <br>
        Zadaj login usera, ktorému chceš zašifrovať súbor:
        <select name="username" class="custom-select">
            <option th:each="user : ${users}" th:value="${user}" th:text="${user}">
            </option>
        </select>
        <input class="customButton" type="submit" value="Encrypt file"/>
    </form>

    <div th:replace="fragments/nav_buttons"></div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>