<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<div class="container">
    <div th:replace="fragments/current_user"></div>
    <div class="hyperlink first" onclick="window.location='./encrypt';">
        <a href="./encrypt">Encrypt file</a>
    </div>
    <div class="hyperlink first" onclick="window.location='./seeMyFiles';">
        <a href="./seeMyFiles">See ONLY MY files</a>
    </div>
    <div class="hyperlink first" onclick="window.location='./seeAllFiles';">
        <a href="./seeAllFiles">See ALL USERS files</a>
    </div>
    <div class="hyperlink" onclick="window.location='./decrypt';">
        <a href="./decrypt">Decrypt file</a>
    </div>
    <form action="./decrypt/decApp">
        <input type="submit" class="customButton" value="Download application"/>
    </form>
    <div class="hyperlink" onclick="window.location='./search';">
        <a href="./search">SEARCH</a>
    </div>
    <div th:replace="fragments/nav_buttons"></div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>