<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        body {
            background: #e6ffe6;
        }

        #main {
            width: 1200px;
            margin: 0 auto;
            background: white;
            border-radius: 3px;
        }
    </style>
</head>
<body>
<div id="main">
    <a href="./encrypt">ENCRYPT</a><br><br>
    <a href="./decrypt">DECRYPT</a><br><br>
    <form action="./decrypt/decApp">
        <input type="submit" value="Download application" />
    </form>
</div>
</body>
</html>