<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<form action="/create-user" method="post">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create new account.</p>
        <div th:if="${message == 'alert'}">
            <div class="alert alert-danger" role="alert">
                <h4>Weak password</h4>
            </div>
        </div>
        <hr>

        <label for="email"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="password-repeat" required>
        <hr>

        <input type="submit" class="customButton" value="Register">
        <div class="footer signin">
            <p>Already have an account? <a href="sign">Sign in</a>.</p>
        </div>
    </div>


</form>

</body>