<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<form action="/sign-user" method="post">
    <div th:replace="fragments/message"></div>
    <div class="container">
        <h1>Sign in</h1>
        <p>Please fill in this form to sign</p>
        <hr>

        <label for="username"><b>Username</b></label>
        <input id="username" type="text" placeholder="Enter username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>

        <input type="submit" class="registerbtn" value="Sign in">
    </div>

    <div class="container signin">
        <p>Don't have an account? Create one! <a href="registration">Create account</a>.</p>
    </div>
</form>

</body>