<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        body {
            background: #e6ffe6;
        }

        #main {
            width: 1200px;
            margin: 0 auto;
            background: white;
            border-radius: 3px;
        }
    </style>
</head>
<body>

<div id="main">
    <p>Choose a file you wish to encrypt:</p>
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <form method="POST" enctype="multipart/form-data" action="./encrypt">
        <input type="file" name="file"/>
        <br>
        Zadaj login usera, ktorému chceš zašifrovať súbor : <input id="login-of-user" type="text" name="login-of-user" value=""><br>
        <input type="submit" value="Encrypt file"/>
    </form>
    <div>
        <p>List of encrypted files:</p>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}"/>
            </li>
        </ul>
    </div>
    <div>
        <form action="../">
            <input type="submit" value="Homepage" />
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th> User </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No users Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.login}"> Username </span></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.getElementById("upload-public").addEventListener("click", function () {
        if (document.getElementById('generate').checked) {
            document.getElementById("public-key-input").style.display = "none"
        } else if (document.getElementById('upload-public').checked) {
            document.getElementById("public-key-input").style.display = "block"
        }
    });
    document.getElementById("generate").addEventListener("click", function () {
        if (document.getElementById('generate').checked) {
            document.getElementById("public-key-input").style.display = "none"
        } else if (document.getElementById('upload-public').checked) {
            document.getElementById("public-key-input").style.display = "block"
        }
    });
    document.getElementById("use-generated-key").addEventListener("click", function () {
        if (document.getElementById('use-generated-key').checked) {
            document.getElementById("public-key-input").style.display = "none"
        } else if (document.getElementById('upload-public').checked) {
            document.getElementById("public-key-input").style.display = "block"
        }
    });
</script>

</body>
</html>