<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        body {
            background: #e6ffe6;
        }

        #main {
            width: 1200px;
            margin: 0 auto;
            background: white;
            border-radius: 3px;
        }
    </style>
</head>
<body>

<div id="main">
    <p>Choose a file you wish to encrypt:</p>
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/encrypt">
        <input type="file" name="file"/>
        <p>Please choose a method:</p>
        <input id="generate" type="radio" name="encrypt-method" value="generate" checked>Generate key pair<br>
        <input id="upload-public" type="radio" name="encrypt-method" value="upload-public">Upload public key for encryption<br>
        <input id="use-generated-key" type="radio" name="encrypt-method" value="use-generated-key">Use generated public key<br>
        <input id="public-key-input" type="file" name="public-key-file" style="display: none; margin: 10px 0"><br>
        <input type="submit" value="Encrypt file"/>
    </form>
    <div>
        <p>List of encrypted files:</p>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}"/>
            </li>
        </ul>
        <p>Generated/Uploaded public key:</p>
        <ul>
            <li th:each="file : ${keys}">
                <a th:href="${file}" th:text="${file}"/>
            </li>
        </ul>
    </div>
    <div>
        <form action="../">
            <input type="submit" value="Homepage" />
        </form>
    </div>
</div>
<script>
    document.getElementById("upload-public").addEventListener("click", function () {
        if (document.getElementById('generate').checked) {
            document.getElementById("public-key-input").style.display = "none"
        } else if (document.getElementById('upload-public').checked) {
            document.getElementById("public-key-input").style.display = "block"
        }
    });
    document.getElementById("generate").addEventListener("click", function () {
        if (document.getElementById('generate').checked) {
            document.getElementById("public-key-input").style.display = "none"
        } else if (document.getElementById('upload-public').checked) {
            document.getElementById("public-key-input").style.display = "block"
        }
    });
    document.getElementById("use-generated-key").addEventListener("click", function () {
        if (document.getElementById('use-generated-key').checked) {
            document.getElementById("public-key-input").style.display = "none"
        } else if (document.getElementById('upload-public').checked) {
            document.getElementById("public-key-input").style.display = "block"
        }
    });
</script>
</body>
</html>