<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div id="main">
    <div th:replace="fragments/current_user"></div>
    <div>
        <div class="row">
            <p class="col-8">Choose a file you wish see details:</p>
            <div class="col-4">
                <p>Search by file name or comment:</p>

                <form action="/seeFilteredFiles" method="post">
                    <input id="search" type="search" name="search" required>
                    <input style="background-color: #03dffc;" type="submit" value="Search" />
                </form>
            </div>
        </div>
        <hr>
        <p>List of encrypted files:</p>
        <ul>
            <li class="file-container" th:each="fileDto : ${fileDtos}">
                <div class="row">
                    <b>File : </b><a th:class="${myFiles} ? col-6 : ''" th:classappend ="${myFiles} ? position : ''" th:href="${fileDto.fileLink}" th:text="${fileDto.fileLink}"/>
                    <div class="col-4" th:if="${myFiles}">
                        Enter the login username you want to encrypt the file for:
                        <form method="post" enctype="multipart/form-data" action="/reEncryptToUser">
                            <select name="username" class="custom-select">
                                <option th:each="user : ${users}" th:value="${user}" th:text="${user}"></option>
                            </select>
<!--                            TODO sem si dopln udaje, ktore chces do controllera-->
<!--                            <input type="hidden" name="creatorUser" value="${user}">-->
<!--                            <input type="hidden" name="creatorUser" value="${user}">-->
                            <input style="position: absolute; background-color: #03dffc;" type="submit" value="Send"/>
                        </form>
                    </div>
                </div>
                <ul>
                    <li th:each="comment: ${fileDto.comments}">
                        <div class="row">
                            <b>User :</b> <div class="col-2" th:text="${comment.userCreator.username}"></div>
                            <b>Comment :</b> <div class="col-8" th:text="${comment.comment}"></div>
                        </div>
                    </li>
                </ul>
                <form action="/addComment" method="post">
                    Add comment:
                    <input type="text" name="comment" placeholder="Type here ...">
                    <input type="hidden" name="fileId" th:value="${fileDto.id}">
                    <input style="background-color: #03dffc;" type="submit" value="Submit">
                </form>

        </ul>
    </div>

    <div th:replace="fragments/nav_buttons"></div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>