<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>

<div id="main">
    <div th:replace="fragments/current_user"></div>
    <p>Choose a file you wish see details:</p>

    <div>
        <p>List of encrypted files:</p>
        <ul>
            <li th:each="fileDto : ${fileDtos}">
                <a th:href="${fileDto.fileLink}" th:text="${fileDto.fileLink}"/>

                <ul>
                    <li th:each="comment: ${fileDto.comments}">
                        <p th:text="${comment}"></p>
                    </li>
                </ul>
                <form action="/addComment" method="post">
                    Add comment:
                    <input type="text" name="comment" value="Type here...">
                    <input type="hidden" name="fileId" th:value="${fileDto.id}">
                    <input type="submit" value="Submit">
                </form>


        </ul>
    </div>

    <div th:replace="fragments/nav_buttons"></div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>